html, body {height:100%;}
#avatar {
	background:#d85576;
	width:210px;
	height:210px;
	border-radius:105px;
	margin:auto;
	vertical-align:middle;
	margin-bottom:10px;
}
#avatar img {
	width:200px;
	height:200px;
	border-radius:100px;
	vertical-align:middle;
	margin-top:5px;
}

#left {
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
	background-color:#efefef;
	text-align:center;
	-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 3px 0px 5px 0px;
	box-shadow:rgba(0, 0, 0, 0.0980392) 3px 0px 5px 0px;
}
#left a.title, #left a.title:visited {
	color:#555;
	font-size:24px;
	font-weight:bold;
}
#nav {
	margin-top:10px;
}
.post .more {text-align:right;}
#right {
	padding-top:30px;
}
h1,h2,h3,h4,h5,h6 {color:#666;}
.item .languages, .item .summary, .item .gallery, .item .links {
	margin:20px 0px;
}
.item .languages {
	line-height:24px;
}
.item .languages .label:hover {
	cursor:pointer;
	opacity:0.7;
}
#sidebar {position:fixed;top:50px;left:15px;}

#right {
	color:#666;
}
#contact {
	margin-top:10px;
}
#commits li {
	line-height:2em;
	font-size:12px;
}