        </div>
        <div class="col-md-3" id="right">
          <a href="http://www.linkedin.com/in/kyleross/" class="btn btn-primary" target="_blank"><i class="icon-linkedin icon-large"></i></a>
          <a href="https://github.com/ktross" class="btn btn-primary" target="_blank"><i class="icon-github-alt icon-large"></i></a>
          <a href="https://www.facebook.com/kyle.t.ross" class="btn btn-primary" target="_blank"><i class="icon-facebook icon-large"></i></a>
          <a href="https://plus.google.com/105856452363698636873" class="btn btn-primary" target="_blank"><i class="icon-google-plus icon-large"></i></a>
          <ul id="contact" class="list-unstyled">
            <li><strong><i class="icon-skype icon-large"></i> Skype: ktross_</strong></li>
            <li><strong><i class="icon-envelope-alt icon-large"></i> Email: <a href="mailto:&#107;&#121;&#108;&#101;&#64;&#107;&#116;&#114;&#111;&#115;&#115;&#46;&#99;&#111;&#109;">&#107;&#121;&#108;&#101;&#64;&#107;&#116;&#114;&#111;&#115;&#115;&#46;&#99;&#111;&#109;</a></strong></li>
            <li><strong><i class="icon-phone icon-large"></i> Phone: (&#50;&#48;&#49;) &#55;&#57;&#51;-&#55;&#51;&#55;&#54;</strong></li>
            <li><strong><i class="icon-time icon-large"></i> Time Zone: Eastern</strong></li>
          </ul>
          <div class="widget">
            <h3>GitHub Repositories</h3>
            <ul class="list-unstyled">
              <li><a href="https://github.com/ktross/HorseMount" target="_blank">HorseMount</a></li>
              <li><a href="https://github.com/ktross/sppmail-client" target="_blank">sppmail-client</a></li>
              <li><a href="https://github.com/ktross/ktross.github.io" target="_blank">ktross.github.io</a></li>
            </ul>
          </div>
          <div class="widget">
            <h3>Latest GitHub Commits</h3>
            <ul id="commits" class="list-unstyled"></ul>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
  </body>
</html>