<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700|Oswald:700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-9521206-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
  </head>
  <body>
    <div class="container" style="min-height:100%;">
      <div class="row">
        <div class="col-md-3 sidebar-offcanvas" id="left" style="background:#333;text-align:center;">
          <div class="bs-sidebar" id="sidebar">
          <div id="avatar">
            <img src="http://www.gravatar.com/avatar/06dc1b682401533a5bb43ae48cf045e5?s=100">
          </div>
          <a href="#" class="title">Kyle Ross</a>
          <div class="tagline">Freelance Web Developer<br>Detroit, MI</div>
          <ul id="nav" class="list-unstyled">
            <li><a href="#" data-toggle="tooltip" title="Coming soon"><del>Blog</del></a></li>
            <li><a href="#" data-toggle="tooltip" title="Coming soon"><del>Projects</del></a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#" data-toggle="tooltip" title="Coming soon"><del>Resume</del></a></li>
          </ul>
          </div>
        </div>
        <div class="col-md-6" id="middle">